@font-face { 
  font-family:'NanumSquare'; 
  font-weight: normal;
  font-style: normal;
  src: url(https://github.com/oncd/OnCodeWebFont/blob/master/NanumSquare/NanumSquareR.eot); 
  src: url(https://github.com/oncd/OnCodeWebFont/blob/master/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'),      
       url(https://github.com/oncd/OnCodeWebFont/blob/master/NanumSquare/NanumSquareR.woff) format('woff'),      
       url(https://github.com/oncd/OnCodeWebFont/blob/master/NanumSquare/NanumSquareR.ttf) format('truetype');
}
