@charset "utf-8"; 

/*
 * Hangeul NanumBarunGothic Font
 */
@font-face {
 font-family: 'NanumBarunGothic';
 src: url(http://hangeul.naver.com/webfont/NanumBarunGothic/NanumBarunGothicWeb.eot);
 src: url(http://hangeul.naver.com/webfont/NanumBarunGothic/NanumBarunGothicWeb.eot?#iefix) format('embedded-opentype'),
      url(http://hangeul.naver.com/webfont/NanumBarunGothic/NanumBarunGothicWeb.woff) format('woff'),
      url(http://hangeul.naver.com/webfont/NanumBarunGothic/NanumBarunGothicWeb.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothicBold';
 src: url(http://hangeul.naver.com/webfont/NanumBarunGothic/NanumBarunGothicWebBold.eot);
 src: url(http://hangeul.naver.com/webfont/NanumBarunGothic/NanumBarunGothicWebBold.eot?#iefix) format('embedded-opentype'),
      url(http://hangeul.naver.com/webfont/NanumBarunGothic/NanumBarunGothicWebBold.woff) format('woff'),
      url(http://hangeul.naver.com/webfont/NanumBarunGothic/NanumBarunGothicWebBold.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumBareunGothicUltraLight';
 src: url(http://hangeul.naver.com/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.eot);
 src: url(http://hangeul.naver.com/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.eot?#iefix) format('embedded-opentype'),
      url(http://hangeul.naver.com/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.woff) format('woff'),
      url(http://hangeul.naver.com/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Iropke Batang';
  font-style: normal;
  font-weight: 400;
  src: url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.eot);
  src: url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.eot?#iefix) format('embedded-opentype'),
       url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.woff) format('woff'),
       url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.ttf) format('truetype');
}