@charset "utf-8";
@font-face {
	 font-family: 'NanumBarunGothicWeb';
	 font-weight: 300;
	 src: url(../NanumBarunGothicWebUltraLight/NanumBarunGothicWebUltraLight.eot);
	 src: url(../NanumBarunGothicWebUltraLight/NanumBarunGothicWebUltraLight.eot?#iefix) format('embedded-opentype'),
		  url(../NanumBarunGothicWebUltraLight/NanumBarunGothicWebUltraLight.woff) format('woff'),
		  url(../NanumBarunGothicWebUltraLight/NanumBarunGothicWebUltraLight.ttf) format('truetype');
	 src: local(※), url(../NanumBarunGothicWebUltraLight/NanumBarunGothicWebUltraLight.woff) format('woff');
}
@font-face {
	 font-family: 'NanumBarunGothicWeb';
	 font-weight: 400;
	 src: url(NanumBarunGothicWeb.eot);
	 src: url(NanumBarunGothicWeb.eot?#iefix) format('embedded-opentype'),
		  url(NanumBarunGothicWeb.woff) format('woff'),
		  url(NanumBarunGothicWeb.ttf) format('truetype');
	 src: local(※), url(NanumBarunGothicWeb.woff) format('woff');
}
@font-face {
	 font-family: 'NanumBarunGothicWeb';
	 font-weight: 700;
	 src: url(../NanumBarunGothicWebBold/NanumBarunGothicWebBold.eot);
	 src: url(../NanumBarunGothicWebBold/NanumBarunGothicWebBold.eot?#iefix) format('embedded-opentype'),
		  url(../NanumBarunGothicWebBold/NanumBarunGothicWebBold.woff) format('woff'),
		  url(../NanumBarunGothicWebBold/NanumBarunGothicWebBold.ttf) format('truetype');
	 src: local(※), url(../NanumBarunGothicWebBold/NanumBarunGothicWebBold.woff) format('woff');
}


