@charset "utf-8";
@font-face {
	 font-family: 'NanumGothic';
	 src: url(./NanumGothic.eot);
	 src: url(./NanumGothic.eot?#iefix) format('embedded-opentype'),
		  url(./NanumGothic.woff) format('woff'),
		  url(./NanumGothic.ttf) format('truetype');
	 src: local(※), url(./NanumGothic.woff) format('woff');
}



